@import "./feedback";
@import "./circular_progress";
@import "./hierarchy_chart";

.standard-sidebar-section[data-title="Public"] .section-title {
    font-size: 0 !important;
}

.standard-sidebar-section[data-title="Public"] .section-title::after {
    content: "MENU";
    font-size: 14px;
}